/* Copied from Greasemonkey */

:root{
	--focus-color: hsla(0, 0%, 80%, 0.3);
}


html, body{
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
}
body{
	cursor: default;
	font: caption;
	width: 400px;
	overflow: hidden;
}
body#rendering{ display: none; }

hr{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
	margin: 10px 10px 10px 10px;
}

textarea{
	font-family: monospace;
	font-size: 90%;
	white-space: pre;
	/*margin: 0px 10px 3px 10px;*/
}

/******************************** SECTIONS ***********************************/

section{
	margin-left: 0;
	transition-duration: 0.15s;
	transition-property: margin-left;
	width: 100vw;
}

/* Hide non-main sections by default. */
section.options,
section.editMod
{
	position: absolute;
	top: 0;
	left: 100vw;
}

/* Slide the main menu away when it's non-active. */
section.main-menu
{ margin-left: -100vw; }
body#main-menu section.main-menu
{ margin-left: 0; }

/* Slide the other menu in when it's active. */
body#options section.options,
body#editMod section.editMod
{ margin-left: -100vw; }


section header{
	color: -moz-fieldText;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

section p{
	margin: 0;
	padding: 4px 12px 4px 10px;
}

section h2{
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
	padding: 7px 12px 1px 10px;
}


section menuitem.go-back{
	box-sizing: content-box;
	color: inherit;
	display: inline-block;
	height: 100%;
	margin: 4px 4px 0 4px;
	padding: 8px;
	vertical-align: -10px;	/* Relative to text, after padding. */
}
section menuitem.go-back:hover{
	background-color: var(--focus-color);
}

/********************************** MENUS ************************************/

menu{
	margin: 0;
	padding: 0;
}
menuitem{
	display: block;
	overflow-x: hidden;
	padding: 4px 12px 4px 10px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
menuitem:focus{
	background-color: hsla(0, 0%, 80%, 0.3);
	outline: none;
}
menuitem[disabled]{
	opacity: 0.65;
}

p menuitem{
	padding-left: 0;
	padding-right: 0;
}

menuitem .icon{
	font-size: 14px;
	margin-right: 3px;
	text-align: center;
	width: 16px;
}
menuitem .icon img{
	object-fit: contain;
	max-height: 16px;
	width: 16px;
}

menu heading{
	color: #333;
	font-style: italic;
	padding-left: 21px;
}

#modListDiv{
	margin-top: 5px;
	height: 465px;
	overflow-y: auto;
	background-color: #FFFFFF;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.mod-listing{
	display: block;
	overflow-x: hidden;
	padding: 6px 0px 6px 0px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mod-listing menuitem{
	display: inline;
}

.floatRight{
	float : right;
	opacity: 1.0;
	height: 100%;
}


/******************************** OPTIONS ************************************/

section.options .explain a{
	color: black;
	float: right;
}

section.options #add-exclude-current{
	cursor: pointer;
	display: block;
	margin-top: 4px;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90vw;
}

#optionsImportError{
	color : red;
}


/******************************** Icon Colors ************************************/

.fa-check{
	color: green;
}

.fa-trash-o{
	color: red;
}